body{
  
    background-image: linear-gradient(100deg, rgb(220, 220, 224), rgb(243, 228, 202), rgb(220, 220, 224));
}

                                   /* Responsiveness! */

/* @media only screen and (max-width : 600px){
    span{
        flex-direction: column;
        text-align: center;
    }
}
     */
